<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
	<%var rowCount = 0%>
	<br>
	<br>
    <% eventCountByUsers.forEach(function(r) { rowCount++; %>
        <li><%= r.idforvendor %> - <%= r.count %></li>

    <% }); %>
</ul>
<p><b>Number of users: </b>
		<%rowCount%>
	</p>


</div>

</body>
</html>
