<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
    	<% results.forEach(function(e) { %>
        	<li><%= e[0] %> - <%= e[1] %></li>
    	<% }); %>
    <% }); %>
</ul>

</div>

</body>
</html>
