
<html>
<head>
<!-- 
<link href="https://fonts.googleapis.com/css?family=Arvo|Nunito|Oxygen|Exo+2|Source+Code+Pro" rel="stylesheet"/>
 -->
<link href="https://cdn.flycricket.com/templates/main-ltr/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.flycricket.com/templates/main-ltr/css/intlTelInput.min.css" rel="stylesheet"/>
<link href="https://cdn.flycricket.com/templates/main-ltr/css/owl.carousel.min.css" rel="stylesheet"/>


<style>/* these are overridden inline in the mustache compilation */
:root {
  --background-color: #ffffff;
  --poweredbybg-color: #f0f0f0;
  --text-color: #000000;
  --link-color: #008DD5;
  --linkhover-color: #005A88;
  --main-font: 'Arvo'; }

.editing-active {
  transition: all 0.2s ease-in-out;
  border: 3px dotted rgba(0, 0, 0, 0.2); }
  .editing-active:hover {
    border-color: rgba(31, 175, 132, 0.8);
    background-color: rgba(31, 175, 132, 0.3);
    cursor: pointer; }

.placeholder-text {
  font-style: italic;
  opacity: 0.6; }

* {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--text-color); }

body {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  position: relative;
  background: #fff; }

a {
  color: var(--link-color);
  transition: all 0.2s linear; }
  a:focus, a:hover {
    color: var(--linkhover-color); }
  a.nohover:hover {
    text-decoration: none; }

.claim-bar {
  padding: 12px 0;
  background: #fff;
  color: #555;
  font-family: 'Oxygen', Helvetica, sans-serif;
  transition: all 0.3s ease-in-out; }
  .claim-bar * {
    font-family: 'Oxygen', Helvetica, sans-serif; }
  .claim-bar div {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 0.9em;
    cursor: pointer;
    color: #555; }
    .claim-bar div span {
      transition: all 0.3s ease-in-out;
      color: #008DD5; }
  .claim-bar:hover {
    text-decoration: none;
    text-decoration: none;
    background: #008DD5;
    color: white; }
    .claim-bar:hover div {
      color: white; }
      .claim-bar:hover div span {
        color: white; }

.whitelabel-badge-mobile {
  background: white;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s all ease-in-out; }
  .whitelabel-badge-mobile .wl-label {
    font-size: 0.8em;
    color: #777; }
  .whitelabel-badge-mobile * {
    transition: 0.2s all ease-in-out; }
  .whitelabel-badge-mobile .st0 {
    fill: #1FAF84; }
  .whitelabel-badge-mobile:hover {
    background: #1FAF84; }
    .whitelabel-badge-mobile:hover * {
      color: white; }
    .whitelabel-badge-mobile:hover .st0 {
      fill: #ffffff; }
  @media (min-width: 491px) {
    .whitelabel-badge-mobile {
      display: none; } }

.whitelabel-badge {
  position: fixed;
  z-index: 999999999;
  top: 10px;
  right: 10px;
  background: white;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.2s all ease-in-out;
  display: none; }
  .whitelabel-badge .wl-label {
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-size: 0.8em;
    color: #777; }
  .whitelabel-badge * {
    transition: 0.2s all ease-in-out; }
  .whitelabel-badge .st0 {
    fill: #1FAF84; }
  .whitelabel-badge:hover {
    background: #1FAF84; }
    .whitelabel-badge:hover * {
      color: white; }
    .whitelabel-badge:hover .st0 {
      fill: #ffffff; }
  @media (min-width: 491px) {
    .whitelabel-badge {
      display: block; } }

footer {
  background: #222; }
  footer .editing-active {
    border-color: rgba(255, 255, 255, 0.8); }
  footer p {
    color: #777 !important; }
  footer .social-icons {
    background: #222;
    width: auto;
    display: inline-block; }
    footer .social-icons .social-icon {
      transition: opacity 0.2s ease-in-out;
      display: inline-block;
      width: 32px;
      margin-right: 12px;
      opacity: 0.5;
      padding-top: 30px; }
      footer .social-icons .social-icon path, footer .social-icons .social-icon polygon {
        transition: all 0.2s linear;
        fill: white; }
      footer .social-icons .social-icon:hover {
        opacity: 1; }
      footer .social-icons .social-icon.si-muted {
        border: 2px dashed rgba(255, 255, 255, 0.3);
        border-radius: 50%; }
        footer .social-icons .social-icon.si-muted path, footer .social-icons .social-icon.si-muted polygon {
          transition: all 0.2s linear;
          fill: rgba(255, 255, 255, 0.3); }
    footer .social-icons.editing-active {
      margin-top: 30px;
      padding: 10px;
      margin-left: -10px; }
      footer .social-icons.editing-active .social-icon {
        padding-top: 0; }
  footer .footer-store-button-container {
    text-align: right;
    margin: auto;
    vertical-align: middle; }
    @media (max-width: 767px) {
      footer .footer-store-button-container {
        text-align: center; } }
    footer .footer-store-button-container .footer-store-button {
      padding-top: 2em;
      padding-bottom: 2em;
      display: inline-block; }
      footer .footer-store-button-container .footer-store-button .store-button {
        height: auto !important;
        margin: 0 6px; }
        footer .footer-store-button-container .footer-store-button .store-button img {
          height: 50px !important; }

#header .store-button img {
  height: 60px !important; }

#attribution {
  transition: all 0.2s ease-in-out;
  padding: 2em 0;
  font-size: 0.8em;
  color: #888 !important; }
  #attribution p {
    margin-bottom: 0.45em;
    font-size: 1.1em; }
  #attribution a {
    color: #aaa !important;
    text-decoration: none; }
    #attribution a:hover {
      color: #007bff !important; }

h1 {
  font-size: 3.2em;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 0.05em; }

h2 {
  margin-top: 0.2em;
  margin-bottom: 0.3em;
  font-size: 1.8em; }

h3 {
  font-weight: normal;
  font-size: 16px; }

html {
  height: 100%; }

body {
  height: 100%;
  color: var(--text-color);
  text-align: center; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

.cover {
  padding: 0 1.5rem; }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700; }

p[id='text.line2'] {
  margin-bottom: 0 !important; }

.site-wrapper {
  position: relative;
  background-size: cover;
  min-height: 100vh; }
  .site-wrapper .editing-active {
    border-color: var(--text-color); }
  .site-wrapper .site-wrapper-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.9;
    background-color: var(--background-color); }
  .site-wrapper .site-wrapper-inner {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; }
    @media (min-width: 767px) {
      .site-wrapper .site-wrapper-inner {
        padding-top: 0; } }
    .site-wrapper .site-wrapper-inner .arrows {
      width: 60px;
      height: 32px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 15px;
      opacity: 0.5; }
      @media (max-width: 786px) {
        .site-wrapper .site-wrapper-inner .arrows {
          display: none; } }
      .site-wrapper .site-wrapper-inner .arrows path {
        stroke: var(--text-color);
        fill: transparent;
        stroke-width: 2px; }

@media (min-width: 40em) {
  .cover-container {
    width: 100%; } }

@media (max-width: 786px) {
  * {
    text-align: center; } }

#header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center; }
  #header .text-container {
    text-align: left;
    position: relative;
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    flex: 1;
    max-width: 800px; }
    #header .text-container .tc-table {
      width: 100%;
      display: table;
      height: auto;
      padding-bottom: 5em;
      padding-top: 2em; }
      @media (min-width: 787px) {
        #header .text-container .tc-table {
          height: 100%;
          padding-bottom: 0; } }
      #header .text-container .tc-table .editing-ttp {
        padding: 1em;
        font-size: 1.2em; }
      #header .text-container .tc-table .editing-app-button {
        font-style: italic;
        padding: 0.25em;
        font-size: 1.2em;
        display: inline-block;
        border-radius: 1em; }
        #header .text-container .tc-table .editing-app-button:first-of-type {
          margin-right: 0.5em; }
    #header .text-container h1 {
      font-size: 2em;
      margin-bottom: 0.25em;
      font-weight: bold;
      letter-spacing: 0.05em;
      line-height: 1.1em; }
      @media (min-width: 787px) {
        #header .text-container h1 {
          font-size: 3.2em; } }
    #header .text-container h2 {
      margin-top: 0.2em;
      margin-bottom: 0.3em;
      font-size: 1.3em; }
      @media (min-width: 787px) {
        #header .text-container h2 {
          font-size: 1.8em; } }
  #header .device-container {
    padding-bottom: 2em;
    width: 100%; }
    #header .device-container img {
      max-height: 70vh;
      max-width: 90%;
      position: relative;
      margin-top: 5em; }
    @media (min-width: 787px) {
      #header .device-container {
        width: auto;
        max-width: 40vw;
        padding-bottom: 0; }
        #header .device-container img {
          margin-top: 0; } }

.store-button {
  width: auto;
  display: inline-block; }
  @media (min-width: 440px) {
    .store-button:first-of-type {
      margin-right: 12px; } }
  .store-button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05); }
  .store-button svg {
    width: auto;
    height: 100%;
    display: block;
    position: relative; }
  @media (max-width: 768px) {
    .store-button {
      margin: auto; } }

@media (max-width: 491px) {
  .text-to-phone:not(.email-subscribe) {
    display: none !important; } }

.text-to-phone input[type='tel'], .text-to-phone input[type='email'] {
  transition: all 0.2s linear;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  color: #333 !important;
  text-align: left; }
  .text-to-phone input[type='tel']:focus, .text-to-phone input[type='email']:focus {
    border-color: var(--link-color); }

.text-to-phone input[type='email'] {
  padding-left: 12px;
  width: 230px; }

.text-to-phone button, .text-to-phone input[type='submit'] {
  border-radius: 4px;
  background: var(--link-color);
  color: white;
  font-size: 14px;
  border: 0;
  padding: 6px 8px;
  padding-top: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  cursor: pointer; }

section {
  padding: 5em 0;
  background: white; }
  section * {
    color: #333; }
  section h2 {
    font-size: 2.5em;
    color: #333;
    padding-bottom: 0.25em;
    margin-bottom: 0; }

#screenshots .owl-nav {
  padding-top: 3em; }
  #screenshots .owl-nav button {
    outline: none; }
  #screenshots .owl-nav .owl-next, #screenshots .owl-nav .owl-prev {
    font-size: 2em; }
    #screenshots .owl-nav .owl-next *, #screenshots .owl-nav .owl-prev * {
      color: rgba(0, 0, 0, 0.25); }
  #screenshots .owl-nav .owl-prev {
    margin-right: 1em; }

#screenshots img {
  border-radius: 0.5em;
  -webkit-box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.49);
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.49); }

#screenshots h2 {
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em; }

@media (max-width: 767px) {
  #screenshots h2 {
    padding-left: 0;
    padding-right: 0;
    display: block; } }

#features p {
  font-size: 1.4em; }

#features ul {
  padding-left: 1em;
  padding-top: 0.75em; }
  #features ul li {
    list-style-type: circle;
    font-size: 1.2em;
    padding-bottom: 0.5em; }

#features button {
  transition: transform 0.2s ease-in-out;
  padding: 0.75em 1.5em;
  border: 0;
  border-radius: 4px;
  margin-top: 1em;
  background-color: var(--background-color);
  color: white;
  cursor: pointer; }
  #features button:hover {
    transform: scale(1.1); }

#features .feature-right {
  text-align: left;
  padding-top: 2em; }

#features .feature-left {
  text-align: center;
  padding-right: 0; }
  #features .feature-left img {
    max-width: 100%;
    max-height: 575px; }

@media (min-width: 767px) {
  #features .feature-left {
    margin: auto;
    padding-right: 40px; } }

@media (max-width: 767px) {
  #features .feature-right {
    padding-top: 4em; }
  #features ul {
    padding-left: 0; }
    #features ul li {
      list-style: none; } }

#reviews .stars {
  width: 100%;
  padding-bottom: 1.5em; }
  #reviews .stars svg {
    color: #eec643;
    height: 34px;
    width: 34px; }
    #reviews .stars svg path {
      fill: #eec643; }

#reviews #quote-carousel {
  padding: 0 80px; }
  #reviews #quote-carousel .carousel-control svg {
    width: 14px; }
  #reviews #quote-carousel .carousel-control path {
    fill: #999; }
  #reviews #quote-carousel .carousel-indicators {
    margin-bottom: -1em; }
    #reviews #quote-carousel .carousel-indicators li {
      background: #c0c0c0; }
    #reviews #quote-carousel .carousel-indicators .active {
      background: #666; }

#reviews blockquote {
  position: relative;
  font-size: 1em;
  font-style: italic;
  color: #666;
  padding: 0 5%;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    #reviews blockquote {
      font-size: 1.6em;
      line-height: 1.5em;
      padding: 0 10%; } }
  #reviews blockquote footer {
    background: none !important;
    font-size: 0.6em;
    font-weight: 700;
    color: #c7c6c1; }
    #reviews blockquote footer:before {
      content: '\2015'; }

a.contact {
  color: #999; }

a.contact:hover {
  color: #fff;
  text-decoration: none; }

@media (max-width: 767px) {
  * {
    text-align: center; } }

#dl-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  padding-top: 5em;
  display: none; }
  #dl-loader .coffee_cup {
    width: 20px;
    height: 24px;
    border: 1px #999 solid;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    margin: 12px auto; }
    #dl-loader .coffee_cup:after, #dl-loader .coffee_cup:before {
      position: absolute;
      content: ""; }
    #dl-loader .coffee_cup:after {
      width: 5px;
      height: 12px;
      border: 1px #999 solid;
      border-left: none;
      border-radius: 0px 20px 20px 0px;
      left: 20px; }
    #dl-loader .coffee_cup:before {
      width: 1px;
      height: 6px;
      background-color: #999;
      top: -10px;
      left: 4px;
      box-shadow: 5px 0px 0px 0px #999, 5px -5px 0px 0px #999, 10px 0px 0px 0px #999;
      -webkit-animation: steam 1s linear infinite alternate;
      -moz-animation: steam 1s linear infinite alternate;
      animation: steam 1s linear infinite alternate; }

@-webkit-keyframes steam {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }

@-moz-keyframes steam {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }

@keyframes steam {
  0% {
    height: 0px; }
  100% {
    height: 6px; } }
  #dl-loader div {
    color: #666;
    font-size: 0.9em; }
</style>
<script src="https://cdn.flycricket.com/templates/main-ltr/js/jquery.min.js" type="text/javascript"></script>


<script src="https://cdn.flycricket.com/templates/main-ltr/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdn.flycricket.com/templates/main-ltr/js/bowser.min.js" type="text/javascript"></script>
<script src="https://cdn.flycricket.com/templates/main-ltr/js/popper.min.js" type="text/javascript"></script>
<script src="https://cdn.flycricket.com/templates/main-ltr/js/intlTelInput-jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.flycricket.com/templates/main-ltr/js/tinycolor.min.js" type="text/javascript"></script>
<script src="https://cdn.flycricket.com/templates/main-ltr/js/owl.carousel.min.js" type="text/javascript"></script>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
<meta content="https://wethoong.flycricket.io" property="og:url">
<meta content="website" property="og:type">
<meta content="WeThoong" property="og:title"/>
<!-- <meta property="og:image" content="" /> -->
<meta content="" property="og:description"/>
<meta content="" name="description"/>
<title>WeThoong</title>
</meta></meta></head>
<body>
<style id="global_style">:root {
  --background-color: #004AC5;
  --text-color: #ffffff;
  --link-color: #EEC643;
  --linkhover-color: #005A88;
  --main-font: 'Nunito';
  --backgroundgradient: True;
}
</style>
<div id="mobile-badge">
<a class="nohover" href="https://flycricket.com/?utm_source=flycricket&amp;utm_medium=landing_page&amp;utm_campaign=fcc4532258e24a6c913418867280ed1a" target="_blank">
<div class="whitelabel-badge-mobile">
<div class="wl-label">Free app websites by</div>
<div style="width:80px;margin:auto;">
<svg id="Layer_1" style="enable-background:new 0 0 271.6 67;" version="1.1" viewbox="0 0 271.6 67" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
<g>
<path class="st0" d="M10.9,14.5v12.4h14.8c0.8,0,1.5,0.3,2.1,0.8c0.5,0.5,0.8,1.2,0.8,2c0,0.7-0.3,1.3-0.8,1.9
                          c-0.5,0.5-1.2,0.8-2.1,0.8H10.9v15.7c0,0.8-0.3,1.5-0.9,2C9.4,50.7,8.7,51,7.9,51c-0.8,0-1.5-0.3-2.1-0.8c-0.6-0.6-0.8-1.2-0.8-2
                          V11.9c0-0.8,0.3-1.5,0.8-2C6.4,9.3,7.1,9,7.9,9h20.5c0.8,0,1.5,0.3,2.1,0.8c0.5,0.5,0.8,1.2,0.8,2c0,0.7-0.3,1.4-0.8,1.9
                          c-0.6,0.5-1.2,0.8-2,0.8H10.9z"></path>
<path class="st0" d="M43.4,50.2c-0.6,0.6-1.2,0.8-2,0.8c-0.8,0-1.5-0.3-2-0.8c-0.5-0.6-0.8-1.2-0.8-2V9.5c0-0.8,0.3-1.5,0.8-2
                          c0.6-0.6,1.2-0.8,2-0.8c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.8,2v38.6C44.3,48.9,44,49.6,43.4,50.2z"></path>
<path class="st0" d="M77.8,20.1c0.5,0.6,0.8,1.2,0.8,2v25.9c0,5-1.4,8.7-4.1,11.2c-2.8,2.5-6.4,3.7-10.9,3.7
                          c-1.5,0-2.9-0.1-4.4-0.4c-1.4-0.3-2.6-0.7-3.5-1.1c-1.5-0.7-2.2-1.6-2.2-2.8c0-0.2,0-0.5,0.1-0.8c0.2-0.7,0.6-1.2,1-1.6
                          c0.4-0.4,0.9-0.5,1.5-0.5c0.3,0,0.6,0.1,0.9,0.2c1.2,0.6,2.3,1,3.3,1.3c1,0.3,2.1,0.5,3.4,0.5c6.2,0,9.3-3.2,9.3-9.5V47
                          c-1.1,1.4-2.5,2.6-4.2,3.4c-1.7,0.8-3.7,1.2-5.9,1.2c-3.3,0-5.9-1.1-7.8-3.2c-1.9-2.1-2.8-4.9-2.8-8.3V22.1c0-0.8,0.3-1.5,0.8-2.1
                          c0.5-0.5,1.2-0.8,2-0.8s1.5,0.3,2.1,0.8c0.5,0.6,0.8,1.2,0.8,2v16.4c0,2.6,0.6,4.6,1.7,5.9c1.2,1.3,2.9,1.9,5.3,1.9
                          c2.3,0,4.2-0.7,5.6-2.2c1.5-1.4,2.2-3.3,2.2-5.6V22.1c0-0.8,0.3-1.5,0.8-2.1c0.5-0.5,1.2-0.8,2-0.8C76.6,19.3,77.3,19.5,77.8,20.1z
                          "></path>
<path class="st0" d="M108.4,20.3c2.1,1,3.1,2.3,3.1,3.8c0,0.7-0.2,1.3-0.7,1.8c-0.4,0.5-1,0.8-1.7,0.8c-0.5,0-0.9-0.1-1.2-0.2
                          c-0.3-0.2-0.7-0.4-1.2-0.8c-0.2-0.2-0.6-0.5-1.1-0.8c-0.5-0.2-1.2-0.4-2-0.6c-0.9-0.2-1.7-0.2-2.4-0.2c-2.1,0-3.9,0.5-5.5,1.4
                          c-1.6,1-2.8,2.3-3.7,4c-0.9,1.7-1.3,3.6-1.3,5.7c0,2.1,0.4,4,1.3,5.7c0.9,1.7,2.1,3,3.6,4s3.3,1.4,5.3,1.4c2.1,0,3.8-0.3,5-1
                          c0.3-0.2,0.7-0.4,1.1-0.8c0.4-0.3,0.8-0.6,1-0.7c0.3-0.2,0.7-0.2,1.1-0.2c0.8,0,1.4,0.2,1.9,0.8c0.5,0.5,0.7,1.2,0.7,1.9
                          c0,0.8-0.5,1.7-1.6,2.5c-1.1,0.8-2.5,1.5-4.3,2c-1.8,0.5-3.7,0.8-5.7,0.8c-3,0-5.7-0.7-8-2.1c-2.3-1.4-4.1-3.4-5.4-5.9
                          c-1.3-2.5-1.9-5.3-1.9-8.4c0-3.1,0.7-5.9,2-8.4c1.3-2.5,3.2-4.5,5.5-5.9c2.4-1.4,5.1-2.1,8.1-2.1C103.7,18.8,106.3,19.3,108.4,20.3
                          z"></path>
<path class="st0" d="M136,19.6c0.8,0.5,1.1,1.2,1.1,2c0,1-0.2,1.7-0.8,2.2c-0.5,0.5-1.1,0.8-1.8,0.8c-0.4,0-0.9-0.1-1.6-0.4
                          c-0.8-0.3-1.5-0.4-2-0.4c-1.2,0-2.5,0.4-3.6,1.3c-1.2,0.9-2.1,2-2.9,3.5c-0.7,1.5-1.1,3.2-1.1,5v14.5c0,0.8-0.3,1.5-0.8,2
                          c-0.5,0.6-1.2,0.8-2.1,0.8s-1.5-0.3-2-0.8c-0.5-0.5-0.8-1.2-0.8-2.1V22.4c0-0.8,0.3-1.5,0.8-2c0.5-0.6,1.2-0.8,2-0.8
                          c0.8,0,1.5,0.3,2.1,0.8c0.5,0.6,0.8,1.2,0.8,2v3.1c0.9-2,2.2-3.5,4-4.8c1.8-1.2,3.8-1.8,6-1.9C134.4,18.8,135.3,19.1,136,19.6z"></path>
<path class="st0" d="M142.5,14.7c-0.5-0.4-0.8-1.1-0.8-2v-1c0-1,0.3-1.6,0.8-2c0.5-0.4,1.4-0.6,2.5-0.6c1.1,0,1.9,0.2,2.4,0.6
                          c0.5,0.4,0.8,1.1,0.8,2v1c0,1-0.3,1.6-0.8,2c-0.5,0.4-1.3,0.6-2.5,0.6C143.8,15.3,143,15.1,142.5,14.7z M147,50.2
                          c-0.5,0.6-1.2,0.8-2.1,0.8c-0.8,0-1.5-0.3-2-0.8c-0.5-0.6-0.8-1.2-0.8-2v-26c0-0.8,0.3-1.5,0.8-2c0.5-0.6,1.2-0.8,2-0.8
                          c0.8,0,1.5,0.3,2.1,0.8c0.5,0.6,0.8,1.2,0.8,2v26C147.8,48.9,147.6,49.6,147,50.2z"></path>
<path class="st0" d="M177.6,20.3c2.1,1,3.1,2.3,3.1,3.8c0,0.7-0.2,1.3-0.7,1.8c-0.4,0.5-1,0.8-1.7,0.8c-0.5,0-0.9-0.1-1.2-0.2
                          c-0.3-0.2-0.7-0.4-1.2-0.8c-0.2-0.2-0.6-0.5-1.1-0.8c-0.5-0.2-1.2-0.4-2-0.6c-0.9-0.2-1.7-0.2-2.4-0.2c-2.1,0-3.9,0.5-5.5,1.4
                          c-1.6,1-2.8,2.3-3.7,4c-0.9,1.7-1.3,3.6-1.3,5.7c0,2.1,0.4,4,1.3,5.7c0.9,1.7,2.1,3,3.6,4s3.3,1.4,5.3,1.4c2.1,0,3.8-0.3,5-1
                          c0.3-0.2,0.7-0.4,1.1-0.8c0.4-0.3,0.8-0.6,1-0.7c0.3-0.2,0.7-0.2,1.1-0.2c0.8,0,1.4,0.2,1.9,0.8c0.5,0.5,0.7,1.2,0.7,1.9
                          c0,0.8-0.5,1.7-1.6,2.5c-1.1,0.8-2.5,1.5-4.3,2c-1.8,0.5-3.7,0.8-5.7,0.8c-3,0-5.7-0.7-8-2.1c-2.3-1.4-4.1-3.4-5.4-5.9
                          c-1.3-2.5-1.9-5.3-1.9-8.4c0-3.1,0.7-5.9,2-8.4c1.3-2.5,3.2-4.5,5.5-5.9c2.4-1.4,5.1-2.1,8.1-2.1C172.9,18.8,175.5,19.3,177.6,20.3
                          z"></path>
<path class="st0" d="M213.5,48.1c0,0.8-0.3,1.5-0.9,2c-0.6,0.5-1.3,0.8-2,0.8c-0.9,0-1.6-0.3-2.1-1l-11.8-12.5l-3.6,3.2v7.4
                          c0,0.8-0.3,1.5-0.8,2c-0.5,0.6-1.2,0.8-2,0.8c-0.8,0-1.5-0.3-2.1-0.8c-0.5-0.6-0.8-1.2-0.8-2V9.5c0-0.8,0.3-1.5,0.8-2
                          c0.5-0.6,1.2-0.8,2.1-0.8c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.8,2v24.4l14.7-13.5c0.7-0.6,1.4-0.9,2.1-0.9
                          c0.7,0,1.3,0.3,1.9,0.9c0.6,0.6,0.8,1.2,0.8,1.8c0,0.8-0.4,1.5-1.1,2.2l-10.4,9.2L212.6,46C213.2,46.7,213.5,47.4,213.5,48.1z"></path>
<path class="st0" d="M245.6,35.9c-0.6,0.5-1.2,0.8-2,0.8h-21.1c0.3,2.9,1.4,5.3,3.3,7c1.9,1.8,4.3,2.6,7.1,2.6
                          c1.9,0,3.5-0.3,4.7-0.8c1.2-0.6,2.3-1.3,3.2-2.2c0.6-0.4,1.2-0.5,1.7-0.5c0.7,0,1.2,0.2,1.7,0.7c0.5,0.5,0.7,1,0.7,1.7
                          c0,0.8-0.4,1.6-1.2,2.3c-1.2,1.2-2.7,2.1-4.6,2.9s-3.9,1.2-5.9,1.2c-3.2,0-6.1-0.7-8.6-2c-2.5-1.4-4.4-3.3-5.7-5.7
                          c-1.3-2.4-2-5.2-2-8.3c0-3.4,0.7-6.3,2.1-8.9c1.4-2.5,3.2-4.5,5.5-5.9c2.3-1.4,4.7-2,7.3-2c2.6,0,5,0.7,7.2,2
                          c2.2,1.3,4,3.1,5.4,5.5c1.4,2.3,2.1,4.9,2.1,7.8C246.4,34.8,246.1,35.4,245.6,35.9z M226,26c-1.6,1.3-2.7,3.2-3.2,5.9h17.7v-0.5
                          c-0.2-2.1-1.1-3.9-2.8-5.2c-1.7-1.4-3.6-2-5.8-2C229.5,24.1,227.6,24.7,226,26z"></path>
<path class="st0" d="M261.6,25.1V43c0,2,0.9,3,2.7,3c0.3,0,0.7-0.1,1.1-0.2c0.5-0.1,0.9-0.2,1.1-0.2c0.5,0,1,0.2,1.3,0.7
                          c0.4,0.4,0.5,1,0.5,1.7c0,0.8-0.5,1.6-1.4,2.2s-2,0.9-3.2,0.9c-1.3,0-2.5-0.1-3.6-0.4c-1.1-0.3-2.1-1-2.9-2.1
                          c-0.9-1.1-1.3-2.9-1.3-5.2V25.1h-3.5c-0.8,0-1.4-0.2-1.9-0.8c-0.5-0.5-0.8-1.1-0.8-1.9c0-0.8,0.2-1.4,0.8-1.9
                          c0.5-0.5,1.1-0.7,1.9-0.7h3.5v-5c0-0.8,0.3-1.5,0.8-2c0.5-0.6,1.2-0.8,2.1-0.8c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.8,2v5h5
                          c0.8,0,1.4,0.3,1.9,0.8c0.5,0.5,0.8,1.1,0.8,1.9c0,0.8-0.2,1.4-0.8,1.9c-0.5,0.5-1.1,0.7-1.9,0.7H261.6z"></path>
</g>
</svg>
</div>
</div>
</a>
</div>
<div id="content">
<div class="site-wrapper" style="background-image:url(https://images.unsplash.com/photo-1414690165279-49ab0a9a7e66?ixlib=rb-0.3.5&amp;q=30&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjQxMDYzfQ&amp;s=52c95adc6aca6a258b181f82b7c6d5da);position:relative;">
<div class="site-wrapper-background"></div>
<h2 style="position: absolute;top:0.75em;margin: 0;left:0.75em;font-weight: 600;letter-spacing: 0.05em;font-size: 1.5em;" template-editable="global.title" template-type="text">

      WeThoong
  </h2>
<div class="site-wrapper-inner">
<div id="header" name="header">
<div class="device-container">
<img src="https://flycricket-screenshots.s3.amazonaws.com/fcc4532258e24a6c913418867280ed1a/medium/b1190a9b-9e56-4e82-8d44-6b9676775449" template-editable="meta.image" template-section="" template-type="image"/>
</div>
<div class="text-container">
<div class="tc-table">
<div style="display:table-cell;vertical-align:middle;">
<h1 id="text.title">Tra cứu nhanh thông tin về luật giao thông</h1>
<h2 id="text.subtitle">Ứng dụng hỗ trợ tra cứu Biển báo, Vạch kẻ đường, Luật Giao thông Đường bộ, Mức phạt các hành vi vi phạm và các văn bản pháp luật liên quan khác</h2>
<div class="text-to-phone" style="margin-top:1.5em;">
<input type="tel"/><button>Text Link to Phone</button>
<div style="font-size:11px;margin-top:2px;">
<span style="opacity:0.5;">Numbers are never shared. Standard rates apply.</span>
<a href="https://www.flycricket.com/privacy.html" target="_blank">Privacy policy</a>.
              </div>
</div>
<div style="margin-top:2em;">
<a class="store-button ios" href="https://apps.apple.com/us/app/id1373587012" target="_blank">
<img src="https://cdn.flycricket.com/images/appstore/ios.png"/>
</a>
<a class="store-button android" href="https://play.google.com/store/apps/details?hl=en_US&id=com.vietlh.wethoong" target="_blank">
<img src="https://cdn.flycricket.com/images/appstore/android.png"/>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div>
<footer><footer>
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-6" style="text-align:left;margin:auto;vertical-align:middle;">
<div class="social-icons">
<div class="social-icon" type="social.facebook">
<a href="https://fb.me/wethoong" target="_blank">
<svg id="Capa_1" style="enable-background:new 0 0 512 512;" version="1.1" viewbox="0 0 512 512" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
<g>
<g>
<path class="st0" d="M256,0C114.8,0,0,114.8,0,256c0,141.1,114.8,256,256,256c141.1,0,256-114.9,256-256C512,114.8,397.2,0,256,0z
                                                  M319.7,265H278c0,66.5,0,148.4,0,148.4h-61.7c0,0,0-81.1,0-148.4H187v-52.5h29.3v-33.9c0-24.3,11.5-62.3,62.3-62.3l45.7,0.2v50.9
                                                c0,0-27.8,0-33.2,0c-5.4,0-13.1,2.7-13.1,14.3v30.8h47L319.7,265z"></path>
</g>
</g>
</svg>
</a>
</div>
<div class="social-icon" type="social.supportEmail">
<a href="mailto:wethoong@gmail.com">
<svg id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewbox="0 0 512 512" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
<g>
<g>
<path class="st0" d="M256,0C114.6,0,0,114.6,0,256c0,141.4,114.6,256,256,256s256-114.6,256-256C512,114.6,397.4,0,256,0z
                                        M256,89.9l151.5,94.5h-303L256,89.9z M409.4,335.2L409.4,335.2c0,15.2-12.3,27.4-27.4,27.4H130.1c-15.2,0-27.4-12.3-27.4-27.4
                                      V190.4c0-1.6,0.2-3.2,0.4-4.7L247.8,276c0.2,0.1,0.4,0.2,0.5,0.3c0.2,0.1,0.4,0.2,0.6,0.3c1,0.5,2.1,1,3.2,1.2
                                      c0.1,0,0.2,0,0.3,0.1c1.2,0.3,2.4,0.5,3.6,0.5h0c0,0,0,0,0,0c1.2,0,2.4-0.2,3.6-0.5c0.1,0,0.2,0,0.3-0.1c1.1-0.3,2.1-0.7,3.2-1.2
                                      c0.2-0.1,0.4-0.2,0.6-0.3c0.2-0.1,0.4-0.2,0.5-0.3l144.7-90.3c0.3,1.5,0.4,3.1,0.4,4.7L409.4,335.2L409.4,335.2z"></path>
</g>
</g>
</svg>
</a>
</div>
</div>
<div id="attribution">
<p><a href="/">Homepage</a></p>
<p><a href="https://wethoong.flycricket.io/privacy.html">Privacy Policy</a></p>
<p>
            Background Image by Luke Chesser on Unsplash
</p>
</div>
</div>
<div class="col-xs-12 col-md-6 footer-store-button-container">
<div class="footer-store-button">
<a class="store-button ios" href="https://apps.apple.com/us/app/id1373587012" target="_blank">
<img src="https://cdn.flycricket.com/images/appstore/ios.png"/>
</a>
</div>
<div class="footer-store-button">
<a class="store-button android" href="https://play.google.com/store/apps/details?hl=en_US&id=com.vietlh.wethoong" target="_blank">
<img src="https://cdn.flycricket.com/images/appstore/android.png"/>
</a>
</div>
</div>
</div>
</div>
</footer></footer>
<!-- <div id="badge">
<a href="https://flycricket.com/?utm_source=flycricket&amp;utm_medium=landing_page&amp;utm_campaign=fcc4532258e24a6c913418867280ed1a" target="_blank">
<div class="whitelabel-badge">
<div class="wl-label">Free app websites by</div>
<div style="width:80px;margin:auto;">
<svg id="Layer_1" style="enable-background:new 0 0 271.6 67;" version="1.1" viewbox="0 0 271.6 67" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
<g>
<path class="st0" d="M10.9,14.5v12.4h14.8c0.8,0,1.5,0.3,2.1,0.8c0.5,0.5,0.8,1.2,0.8,2c0,0.7-0.3,1.3-0.8,1.9
                    c-0.5,0.5-1.2,0.8-2.1,0.8H10.9v15.7c0,0.8-0.3,1.5-0.9,2C9.4,50.7,8.7,51,7.9,51c-0.8,0-1.5-0.3-2.1-0.8c-0.6-0.6-0.8-1.2-0.8-2
                    V11.9c0-0.8,0.3-1.5,0.8-2C6.4,9.3,7.1,9,7.9,9h20.5c0.8,0,1.5,0.3,2.1,0.8c0.5,0.5,0.8,1.2,0.8,2c0,0.7-0.3,1.4-0.8,1.9
                    c-0.6,0.5-1.2,0.8-2,0.8H10.9z"></path>
<path class="st0" d="M43.4,50.2c-0.6,0.6-1.2,0.8-2,0.8c-0.8,0-1.5-0.3-2-0.8c-0.5-0.6-0.8-1.2-0.8-2V9.5c0-0.8,0.3-1.5,0.8-2
                    c0.6-0.6,1.2-0.8,2-0.8c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.8,2v38.6C44.3,48.9,44,49.6,43.4,50.2z"></path>
<path class="st0" d="M77.8,20.1c0.5,0.6,0.8,1.2,0.8,2v25.9c0,5-1.4,8.7-4.1,11.2c-2.8,2.5-6.4,3.7-10.9,3.7
                    c-1.5,0-2.9-0.1-4.4-0.4c-1.4-0.3-2.6-0.7-3.5-1.1c-1.5-0.7-2.2-1.6-2.2-2.8c0-0.2,0-0.5,0.1-0.8c0.2-0.7,0.6-1.2,1-1.6
                    c0.4-0.4,0.9-0.5,1.5-0.5c0.3,0,0.6,0.1,0.9,0.2c1.2,0.6,2.3,1,3.3,1.3c1,0.3,2.1,0.5,3.4,0.5c6.2,0,9.3-3.2,9.3-9.5V47
                    c-1.1,1.4-2.5,2.6-4.2,3.4c-1.7,0.8-3.7,1.2-5.9,1.2c-3.3,0-5.9-1.1-7.8-3.2c-1.9-2.1-2.8-4.9-2.8-8.3V22.1c0-0.8,0.3-1.5,0.8-2.1
                    c0.5-0.5,1.2-0.8,2-0.8s1.5,0.3,2.1,0.8c0.5,0.6,0.8,1.2,0.8,2v16.4c0,2.6,0.6,4.6,1.7,5.9c1.2,1.3,2.9,1.9,5.3,1.9
                    c2.3,0,4.2-0.7,5.6-2.2c1.5-1.4,2.2-3.3,2.2-5.6V22.1c0-0.8,0.3-1.5,0.8-2.1c0.5-0.5,1.2-0.8,2-0.8C76.6,19.3,77.3,19.5,77.8,20.1z
                    "></path>
<path class="st0" d="M108.4,20.3c2.1,1,3.1,2.3,3.1,3.8c0,0.7-0.2,1.3-0.7,1.8c-0.4,0.5-1,0.8-1.7,0.8c-0.5,0-0.9-0.1-1.2-0.2
                    c-0.3-0.2-0.7-0.4-1.2-0.8c-0.2-0.2-0.6-0.5-1.1-0.8c-0.5-0.2-1.2-0.4-2-0.6c-0.9-0.2-1.7-0.2-2.4-0.2c-2.1,0-3.9,0.5-5.5,1.4
                    c-1.6,1-2.8,2.3-3.7,4c-0.9,1.7-1.3,3.6-1.3,5.7c0,2.1,0.4,4,1.3,5.7c0.9,1.7,2.1,3,3.6,4s3.3,1.4,5.3,1.4c2.1,0,3.8-0.3,5-1
                    c0.3-0.2,0.7-0.4,1.1-0.8c0.4-0.3,0.8-0.6,1-0.7c0.3-0.2,0.7-0.2,1.1-0.2c0.8,0,1.4,0.2,1.9,0.8c0.5,0.5,0.7,1.2,0.7,1.9
                    c0,0.8-0.5,1.7-1.6,2.5c-1.1,0.8-2.5,1.5-4.3,2c-1.8,0.5-3.7,0.8-5.7,0.8c-3,0-5.7-0.7-8-2.1c-2.3-1.4-4.1-3.4-5.4-5.9
                    c-1.3-2.5-1.9-5.3-1.9-8.4c0-3.1,0.7-5.9,2-8.4c1.3-2.5,3.2-4.5,5.5-5.9c2.4-1.4,5.1-2.1,8.1-2.1C103.7,18.8,106.3,19.3,108.4,20.3
                    z"></path>
<path class="st0" d="M136,19.6c0.8,0.5,1.1,1.2,1.1,2c0,1-0.2,1.7-0.8,2.2c-0.5,0.5-1.1,0.8-1.8,0.8c-0.4,0-0.9-0.1-1.6-0.4
                    c-0.8-0.3-1.5-0.4-2-0.4c-1.2,0-2.5,0.4-3.6,1.3c-1.2,0.9-2.1,2-2.9,3.5c-0.7,1.5-1.1,3.2-1.1,5v14.5c0,0.8-0.3,1.5-0.8,2
                    c-0.5,0.6-1.2,0.8-2.1,0.8s-1.5-0.3-2-0.8c-0.5-0.5-0.8-1.2-0.8-2.1V22.4c0-0.8,0.3-1.5,0.8-2c0.5-0.6,1.2-0.8,2-0.8
                    c0.8,0,1.5,0.3,2.1,0.8c0.5,0.6,0.8,1.2,0.8,2v3.1c0.9-2,2.2-3.5,4-4.8c1.8-1.2,3.8-1.8,6-1.9C134.4,18.8,135.3,19.1,136,19.6z"></path>
<path class="st0" d="M142.5,14.7c-0.5-0.4-0.8-1.1-0.8-2v-1c0-1,0.3-1.6,0.8-2c0.5-0.4,1.4-0.6,2.5-0.6c1.1,0,1.9,0.2,2.4,0.6
                    c0.5,0.4,0.8,1.1,0.8,2v1c0,1-0.3,1.6-0.8,2c-0.5,0.4-1.3,0.6-2.5,0.6C143.8,15.3,143,15.1,142.5,14.7z M147,50.2
                    c-0.5,0.6-1.2,0.8-2.1,0.8c-0.8,0-1.5-0.3-2-0.8c-0.5-0.6-0.8-1.2-0.8-2v-26c0-0.8,0.3-1.5,0.8-2c0.5-0.6,1.2-0.8,2-0.8
                    c0.8,0,1.5,0.3,2.1,0.8c0.5,0.6,0.8,1.2,0.8,2v26C147.8,48.9,147.6,49.6,147,50.2z"></path>
<path class="st0" d="M177.6,20.3c2.1,1,3.1,2.3,3.1,3.8c0,0.7-0.2,1.3-0.7,1.8c-0.4,0.5-1,0.8-1.7,0.8c-0.5,0-0.9-0.1-1.2-0.2
                    c-0.3-0.2-0.7-0.4-1.2-0.8c-0.2-0.2-0.6-0.5-1.1-0.8c-0.5-0.2-1.2-0.4-2-0.6c-0.9-0.2-1.7-0.2-2.4-0.2c-2.1,0-3.9,0.5-5.5,1.4
                    c-1.6,1-2.8,2.3-3.7,4c-0.9,1.7-1.3,3.6-1.3,5.7c0,2.1,0.4,4,1.3,5.7c0.9,1.7,2.1,3,3.6,4s3.3,1.4,5.3,1.4c2.1,0,3.8-0.3,5-1
                    c0.3-0.2,0.7-0.4,1.1-0.8c0.4-0.3,0.8-0.6,1-0.7c0.3-0.2,0.7-0.2,1.1-0.2c0.8,0,1.4,0.2,1.9,0.8c0.5,0.5,0.7,1.2,0.7,1.9
                    c0,0.8-0.5,1.7-1.6,2.5c-1.1,0.8-2.5,1.5-4.3,2c-1.8,0.5-3.7,0.8-5.7,0.8c-3,0-5.7-0.7-8-2.1c-2.3-1.4-4.1-3.4-5.4-5.9
                    c-1.3-2.5-1.9-5.3-1.9-8.4c0-3.1,0.7-5.9,2-8.4c1.3-2.5,3.2-4.5,5.5-5.9c2.4-1.4,5.1-2.1,8.1-2.1C172.9,18.8,175.5,19.3,177.6,20.3
                    z"></path>
<path class="st0" d="M213.5,48.1c0,0.8-0.3,1.5-0.9,2c-0.6,0.5-1.3,0.8-2,0.8c-0.9,0-1.6-0.3-2.1-1l-11.8-12.5l-3.6,3.2v7.4
                    c0,0.8-0.3,1.5-0.8,2c-0.5,0.6-1.2,0.8-2,0.8c-0.8,0-1.5-0.3-2.1-0.8c-0.5-0.6-0.8-1.2-0.8-2V9.5c0-0.8,0.3-1.5,0.8-2
                    c0.5-0.6,1.2-0.8,2.1-0.8c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.8,2v24.4l14.7-13.5c0.7-0.6,1.4-0.9,2.1-0.9
                    c0.7,0,1.3,0.3,1.9,0.9c0.6,0.6,0.8,1.2,0.8,1.8c0,0.8-0.4,1.5-1.1,2.2l-10.4,9.2L212.6,46C213.2,46.7,213.5,47.4,213.5,48.1z"></path>
<path class="st0" d="M245.6,35.9c-0.6,0.5-1.2,0.8-2,0.8h-21.1c0.3,2.9,1.4,5.3,3.3,7c1.9,1.8,4.3,2.6,7.1,2.6
                    c1.9,0,3.5-0.3,4.7-0.8c1.2-0.6,2.3-1.3,3.2-2.2c0.6-0.4,1.2-0.5,1.7-0.5c0.7,0,1.2,0.2,1.7,0.7c0.5,0.5,0.7,1,0.7,1.7
                    c0,0.8-0.4,1.6-1.2,2.3c-1.2,1.2-2.7,2.1-4.6,2.9s-3.9,1.2-5.9,1.2c-3.2,0-6.1-0.7-8.6-2c-2.5-1.4-4.4-3.3-5.7-5.7
                    c-1.3-2.4-2-5.2-2-8.3c0-3.4,0.7-6.3,2.1-8.9c1.4-2.5,3.2-4.5,5.5-5.9c2.3-1.4,4.7-2,7.3-2c2.6,0,5,0.7,7.2,2
                    c2.2,1.3,4,3.1,5.4,5.5c1.4,2.3,2.1,4.9,2.1,7.8C246.4,34.8,246.1,35.4,245.6,35.9z M226,26c-1.6,1.3-2.7,3.2-3.2,5.9h17.7v-0.5
                    c-0.2-2.1-1.1-3.9-2.8-5.2c-1.7-1.4-3.6-2-5.8-2C229.5,24.1,227.6,24.7,226,26z"></path>
<path class="st0" d="M261.6,25.1V43c0,2,0.9,3,2.7,3c0.3,0,0.7-0.1,1.1-0.2c0.5-0.1,0.9-0.2,1.1-0.2c0.5,0,1,0.2,1.3,0.7
                    c0.4,0.4,0.5,1,0.5,1.7c0,0.8-0.5,1.6-1.4,2.2s-2,0.9-3.2,0.9c-1.3,0-2.5-0.1-3.6-0.4c-1.1-0.3-2.1-1-2.9-2.1
                    c-0.9-1.1-1.3-2.9-1.3-5.2V25.1h-3.5c-0.8,0-1.4-0.2-1.9-0.8c-0.5-0.5-0.8-1.1-0.8-1.9c0-0.8,0.2-1.4,0.8-1.9
                    c0.5-0.5,1.1-0.7,1.9-0.7h3.5v-5c0-0.8,0.3-1.5,0.8-2c0.5-0.6,1.2-0.8,2.1-0.8c0.8,0,1.5,0.3,2,0.8c0.5,0.6,0.8,1.2,0.8,2v5h5
                    c0.8,0,1.4,0.3,1.9,0.8c0.5,0.5,0.8,1.1,0.8,1.9c0,0.8-0.2,1.4-0.8,1.9c-0.5,0.5-1.1,0.7-1.9,0.7H261.6z"></path>
</g>
</svg>
</div>
</div> -->
</a>
</div>
<div id="dl-loader">
<div class="coffee_cup"></div>
<div>Redirecting to the app store...</div>
</div>
<script id="script_variables" type="text/javascript">window._app_domain = "https://app.flycricket.com";
window._app_identifier = "fcc4532258e24a6c913418867280ed1a";
</script>


<script type="text/javascript">function updateBackgroundColors() {
  var newColor = getComputedStyle(document.body).getPropertyValue('--background-color');
  var color = tinycolor(newColor);
  var lightBg = color.analogous()[1].toString();

  var gradProp = getComputedStyle(document.body).getPropertyValue('--backgroundgradient').trim();
  if (gradProp == 'true' || gradProp == 'True' || gradProp == '1' || gradProp === true) {
    $(".site-wrapper-background").css('background', "linear-gradient(to top, " + newColor + ", " + lightBg + ")")
  } else {
    $(".site-wrapper-background").css('background', newColor);
  }

  // create our off-white
  var offwhite = color.setAlpha(0.05);
  if (offwhite.toHexString() == "#ffffff") {
    offwhite = tinycolor("#eee");
  }
  $("section:nth-child(odd)").css('background', offwhite);
}

function updateBtnColors() {
  $(".text-to-phone button, .text-to-phone input[type='submit']").each(function () {
    // get the button background color and set the text color accordingly
    var c = tinycolor($(this).css('backgroundColor'));
    $(this).css('color', c.isLight() ? '#333333' : '#ffffff');
  });
  $("#features button").each(function () {
    // get the button background color and set the text color accordingly
    var c = tinycolor($(this).css('backgroundColor'));
    $(this).css('color', c.isLight() ? '#333333' : '#ffffff');
  });
}

function refreshPage() {
  updateBackgroundColors();

  // update the color on load
  updateBtnColors();

  //reviews
  $('.carousel').carousel({
    pause: true,
    interval: 8000,
  });

  // screenshots
  $('.owl-carousel').owlCarousel({
    loop: true,
    margin: 20,
    nav: true,
    startPosition: 0,
    navText: [
      "<i class='fa fa-chevron-left'></i>",
      "<i class='fa fa-chevron-right'></i>",
    ],
    dots: false,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });

  $("input[type='tel']").intlTelInput({
    utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.3/js/utils.js',
  });

  $(".text-to-phone button").click(function () {
    var pretext = $(this).text();
    var btn = $(this);
    if ($(this).parent().find("input[type='tel']").intlTelInput("isValidNumber")) {
      var number = $(this).parent().find("input[type='tel']").intlTelInput("getNumber");

      $(this).parent().find("input[type='tel']").attr("disabled", "disabled");
      $(btn).attr("disabled", "disabled");
      $(btn).text("Sending...");

      $.ajax({
        type: "POST",
        url: window._app_domain + "/api/app/" + window._app_identifier + "/send",
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify({ phone: number }),
        success: function (resp) {
          if (resp.error) {
            alert(resp.error);
          } else {
            alert("SMS sent!");
            $(btn).parent().find("input[type='tel']").val("");
          }

          $(btn).parent().find("input[type='tel']").removeAttr("disabled");
          $(btn).removeAttr("disabled");
          $(btn).text(pretext);
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert("Error sending: " + thrownError);
          $(btn).parent().find("input[type='tel']").removeAttr("disabled");
          $(btn).removeAttr("disabled");
          $(btn).text(pretext);
        }
      })

    } else {
      alert("Please enter a valid phone number.");
    }
  });


  $("#quote-carousel .carousel-item:first").addClass('active');
}


function getParameterByName(name, url) {
  name = name.replace(/[\[\]]/g, '\\$&');
  var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
    results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return null;
  return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

var dlid = getParameterByName('download', window.location.search);
if (dlid) {
  dlid = dlid.trim();

  // show loader
  document.getElementById('dl-loader').style.display = 'block';

  // default to android
  var url = "https://play.google.com/store/apps/details?hl=en_US&id=" + dlid;
  var platform = "android";
  if (!isNaN(parseFloat(dlid)) && isFinite(dlid)) { // itunes
    url = "https://itunes.apple.com/us/app/id" + dlid;
    platform = "ios";
  }

  // make a 'synchronous' analytics request after our window vars load
  // $(function() {
  //   setTimeout(function() {
  //     var xurl = window._app_domain + "/api/app/" + window._app_identifier + "/download";
  //     var xhr = new XMLHttpRequest();
  //     xhr.open('POST', xurl);
  //     xhr.setRequestHeader('Content-Type', 'application/json');
  //     xhr.onload = function () {
  //       // var userInfo = JSON.parse(xhr.responseText);
  //       window.location.replace(url);
  //     };
  //     xhr.send(JSON.stringify({
  //       appIdentifier: window._app_identifier,
  //       platform: platform,
  //     }));
  //   }, 1000);
  // });

} else {
  // refresh on page load.
  // this triggers carousel initialization and other stuff.
  // we call this again after compilation.
  $(refreshPage);
}

</script>
<!-- 
<script async="" src="https://www.googletagmanager.com/gtag/js"></script>
<script id="script_analytics">$(function () {
  $.ajax({
    type: "POST",
    url: "https://app.flycricket.com/api/website_view/fcc4532258e24a6c913418867280ed1a",
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify({ referrer: document.referrer }),
    success: function (resp) {
      console.log(resp);
    },
    error: function (xhr, ajaxOptions, thrownError) {
      console.error(thrownError);
    }
  });
});

window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-84588334-7');


</script>
-->

</body>
</html>