<!DOCTYPE html>
<html>
<head>
	<title>Inser Phantich</title>
</head>
<body>
	<form method= "post" target= "">
		<table>
			<tr>
				<td>query: </td><td><textarea id = "queryString" name = "queryString"></textarea></td>
			</tr>
			<tr>
				<td></td><td><button>Execute</button></td>
			</tr>

			<% if(passed != undefined){ %>
			<% if(passed){ %>
			<tr>
				<td></td><td><p color = "blue"> Success!</p></td>
			</tr>
			<% } else { %>
			<tr>
				<td></td><td><p color = "red"> Failed!!!</p></td>
			</tr>
			<% } %>
			<% } %>
		</table>
	</form>

</body>
</html>