<!DOCTYPE html>
<html>
<head>
	<title>Inser Phantich</title>
</head>
<body>
	<form method= "post" target= "">
		<table>
			<tr>
				<td>query: </td><td><textarea id = "queryString" name = "queryString"></textarea></td>
			</tr>
			<tr>
				<td></td><td><button>Execute</button></td>
			</tr>
		</table>
	</form>

</body>
</html>