<!DOCTYPE html>
<html>
<head>
	<title>Inser Phantich</title>
</head>
<body>
	<form method="post" target="../new">
		<table>
			<tr>
				<td>query: </td><td><textarea id = "queryField" name = "queryField"></textarea></td>
			</tr>
			<tr>
				<td></td><td><button>Execute</button></td>
			</tr>
		</table>
	</form>

</body>
</html>