<!DOCTYPE html>
<html>
<head>
	<title>Inser Phantich</title>
</head>
<body>
	<form method= "post" target= "">
		<table>
			<tr>
				<td>query: </td><td><textarea id = "queryString" name = "queryString"></textarea></td>
			</tr>
			<tr>
				<td></td><td><button>Execute</button></td>
			</tr>

			<% if(typeof results != 'undefined'){ %>
				<% if(results.message != "Error"){ %>
						<tr>
							<td><p> <font color = "blue"> Success!</font></p></td><td><%= results %></td>
						</tr>
				<% } else { %>
						<tr>
							<td><p> <font color = "red"> Failed!!!</font></p></td><td><%= results %></td>
						</tr>
				<% } %>
			<% } else { %>
				<tr>
					<td></td><td><p> <font color = "red">undefined</font></p></td>
				</tr>
			<% } %>
		</table>
	</form>
<%= results %>
</body>
</html>