<!DOCTYPE html>
<html>
<head>
	<title>Inser Phantich</title>
</head>
<body>
	<form method= "post" target= "">
		<table>
			<tr>
				<td>query: </td><td><textarea id = "queryString" name = "queryString"></textarea></td>
			</tr>
			<tr>
				<td></td><td><button>Execute</button></td>
			</tr>

			<% if(typeof passed != 'undefined'){ %>
				<%= passed %>
				<% if(passed){ %>
						<tr>
							<td></td><td><p> <font color = "blue"> Success!</font></p></td>
						</tr>
					<% } else { %>
						<tr>
							<td></td><td><p> <font color = "red"> Failed!!!</font></p></td>
						</tr>
				<% } %>
			% } else { %>
				<tr>
					<td></td><td><p> <font color = "red"> Failed!!! undefined</font></p></td>
				</tr>
				<% } %>
		</table>
	</form>

</body>
</html>